body {
    overflow-x: hidden;
}


/* usuário logado */

.user {
    background-color: #2c42a1;
    padding: 20px;
}


/* navegação */

.nav {
    background: #192765;
    width: 100%;
    height: 120px;
    z-index: 9999;
}

@media screen and (max-width: 768px) {
    .nav {
        background: #192765;
        width: 100%;
        height: 80px;
    }
}


/* .nav .logo {} */

.nav .logo {
    width: 30%;
}

@media screen and (max-width:768px) {
    .nav .logo {
        width: 25%;
    }
}

.nav .items-nav {
    background: #192765;
    display: flex;
    justify-content: flex-end;
}

.nav .items-nav .button-carrinho {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.nav .items-nav .carrinho {
    width: 40px;
    animation: animacao-box 3s infinite alternate;
}


/* efeito de animação no carrinho */

@keyframes animacao-box {
    /* estado inicial dessa animação */
    from {
        transform: scale(1.0);
    }
    /* estado final dessa animação */
    to {
        transform: scale(1.2);
    }
}

.nav .items-nav .list-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav .items-nav .list-nav>li {
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
}

.nav .items-nav .list-nav>li>a {
    color: white;
}

.nav .items-nav .list-nav>li>a:hover {
    color: rgb(199, 199, 199);
}

.nav .items-nav .list-nav>li>a>img {
    width: 50px;
    border-radius: 100px;
}

.nav .items-nav .list-nav>li>a>img:hover {
    transform: scale(1.2);
}


/* tipografia */

@font-face {
    font-family: 'Medium';
    src: url('../fonts/Arimo/Arimo-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

.body {
    font-family: "Medium";
}